@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    --poppins-font:"Poppins", sans-serif;
    --ubuntu-font:"Ubuntu", sans-serif;
    --mulish-font:"Mulish", sans-serif;
    --munito-font:"Nunito", sans-serif;
}
body{
    font-family: var(--poppins-font);
}
.visi {
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    width: 500px;
    backdrop-filter: blur(10px);
    padding: 1rem;
}

.visi {
    margin-left: 400px ;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    width: 500px;
    backdrop-filter: blur(10px);
}

.kebijakan {
    margin-left: 400px ;
    background-color: lightgrey;
    width: 500px;
    backdrop-filter: blur(10px);
    padding: 1rem;
}

.info1 {
    margin-left: 195px;
    background-color: lightgrey;
    width: 900px;
    backdrop-filter: blur(10px);
    padding: 1rem;
}

.info2 {
    margin-left: 195px ;
    background-color: lightgrey;
    width: 900px;
    backdrop-filter: blur(10px);
    padding: 1rem;
}

.info3 {
    margin-left: 195px ;
    background-color: lightgrey;
    width: 900px;
    backdrop-filter: blur(10px);
    padding: 1rem;
}







